$percent:100px;
@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(90deg);
    will-change: transform;
  }
  100% {
    transform: rotateX(0deg) rotateY(-180deg) rotateZ(-270deg);
  }
}
.platform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  perspective: 800px;
  perspective-origin: 50% 50%;
  .container {
    width:$percent;
    height:$percent;
    animation: rotate 5s linear 0s infinite normal;
    // transform: rotateY(20deg);
    transform-origin:50% 50%;
    transform-style: preserve-3d;
    .m{
      -webkit-text-stroke:1px #333;
      text-align: center;
      line-height: $percent;
      color:#fff;
      font-size:40px;
      font-weight: 800;
      background-color: #fff;
      box-shadow: 0 0 30px rgba(125, 125, 125, 0.8) inset;
      position: absolute;
    }
    .up {
      height: $percent;
      // background-color: red;
      width: $percent;
      transform: rotateX(90deg) translateZ($percent/2);
    }
    .down {
      height: $percent;
      width: $percent;
      transform: rotateX(-90deg) translateZ($percent/2);
    }
    .left {
      height: $percent;
      width: $percent;
      transform: rotateY(-90deg) translateZ($percent/2);
    }
    .right {
      height: $percent;
      width: $percent;
      transform: rotateY(90deg) translateZ($percent/2);
    }
    .pre {

      height: $percent;
      width: $percent;
      transform: translateZ($percent/2);
    }
    .aft {
      height: $percent;
      width: $percent;
      transform: translateZ(-50px);
    }
  }
}
