@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    will-change: transform; }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg); } }

.platform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 400px;
  perspective-origin: 50% 50%; }
  .platform .container {
    width: 800px;
    height: 800px;
    animation: rotate 5s linear 0s infinite normal;
    transform-origin: 50% 50%;
    transform-style: preserve-3d; }
    .platform .container .m {
      -webkit-text-stroke: 1px #333;
      text-align: center;
      line-height: 800px;
      color: #fff;
      font-size: 40px;
      font-weight: 800;
      background-color: #fff;
      box-shadow: 0 0 30px rgba(125, 125, 125, 0.8) inset;
      position: absolute; }
    .platform .container .up {
      height: 800px;
      background-color: rgba(125, 10, 10, 0.5);
      width: 800px;
      transform: rotateX(90deg) translateZ(400px); }
    .platform .container .down {
      height: 800px;
      width: 800px;
      background-color: rgba(125, 10, 200, 0.5);
      transform: rotateX(-90deg) translateZ(400px); }
    .platform .container .left {
      height: 800px;
      width: 800px;
      background-color: rgba(25, 200, 10, 0.5);
      transform: rotateY(-90deg) translateZ(400px); }
    .platform .container .right {
      height: 800px;
      width: 800px;
      background-color: rgba(125, 10, 120, 0.5);
      transform: rotateY(90deg) translateZ(400px); }
    .platform .container .pre {
      height: 800px;
      width: 800px;
      background-color: rgba(10, 120, 10, 0.5);
      transform: translateZ(400px); }
    .platform .container .aft {
      height: 800px;
      width: 800px;
      background-color: rgba(125, 120, 10, 0.5);
      transform: translateZ(-400px); }
